/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}

/* some variable */
:root {
    --main-color: #060400;
    --hover-color: hs1(37, 94%, 57%);
    --body-color: #000000;
    --container-color: #04040b;
    --text-color: #ffffff;
}

 body {
    background: var(--body-color);
    color: var(--text-color);

} 
 table {
    width:25% ;
    border:10px solid  rgb(34, 217, 217) ;
    border-spacing: 12px;
    padding: 5px;
    margin: 100px;
    border-radius: 25px;
}

table td {
    padding:10px;
    background-color: #000000ef;

}


/* .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;

} */

/* .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

.nav a {
    color: var(--text-color);

}

.logo {
    font-weight: 900;
    font-size: 2rem;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;

}

.nav-menu li {
    margin-left: 30px;

}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover {
    color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover {
    color: unset;
}

.btn {
    color: #ffffff;
    padding: .25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;

}

.hamburger-menu {
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 30px;
    height: 3px;
    border-radius: .5rem;
    background-color: var(--text-color);
    transition: .4s;
}


.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

.link-item:hover {
    color: var(--main-color);

}

footer {
    background: var(--rich-black-fogra-30);
    padding: 80px var(--px) 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--oxford-blue-50);
    padding-bottom: 80px;
    margin: 70px;
}

.footer-brand {
    max-width: 250px;
    margin-right: 130px;
}

.footer-logo {
    width: 100px;
    margin-bottom: 30px;
}

.slogan {
    font-size: var(--fs-sm);
    line-height: 20px;
    margin-bottom: 20px;
}

.social-link a {
    display: inline-block;
}

.social-link ion-icon {
    font-size: 25px;
    margin-right: 20px;
}

.footer-links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    align-items: flex-end;
}

.link-heading {
    margin-bottom: 20px;
}

.link-item {
    font-size: var(--fs-sm);
}

ul .link-item:not(:last-child) {
    margin-bottom: 10px;
}

.link-item:hover a {
    color: var(--light-azure);
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.footer-copyright p,
.wrapper a {
    font-size: var(--fs-sm);
}

.wrapper a:hover {
    color: var(--light-azure);
}

.wrapper {
    display: flex;
}

.wrapper a:not(:last-child) {
    margin-right: 30px;
} */



.history {

    font-size:50px ;
    border: 0.5rem outset rgb(2, 250, 250);
    margin: 30px;
    width:250px;    
    border-radius: 25px;  

}
.history-content {


    margin-left: 60px;
}

.major {
    font-size:50px ;
border: 0.5rem outset rgb(2, 250, 250);
margin: 30px;
width:330px;
border-radius: 25px;

}
.major-content {

    margin-left: 60px;

}

.Transport {

    font-size:50px ;
    border: 0.5rem outset rgb(2, 250, 250);
    margin: 30px;
    width: 330px;
    border-radius: 25px;



} 
.Transport-content {

    margin-left: 60px;

}


.container {
    max-width: 1440px;
    margin: 5px;
    width: 100%;
    padding: relative;
    left: 60px;
}

.heading {

 border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 8rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}


.heading-title {
    font-size: 2.5em;
    font-weight: 700;
    margin-left: 380px;
    color: #eaeaea;

}


.watch-btn .play-btn {
    display: flex;
    align-items: flex-start;
    column-gap: 0.8rem;
    color:blue ;
}

.watch-btn {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--text-color);
}

.watch-btn .bx {
    font-size: 21px;
    background: #17cbdf;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-btn .bx:hover {
    background: var(--hover-color);
}

.watch-btn span {
    font-size: 1rem;
    font-weight: 400;
}

/* tourisms box */
.tourism-box {
    height: 380px;
 overflow: hidden;
 position: relative;
 font-size:50px ;
 border: 0.5rem outset rgb(2, 250, 250);
 margin-left: 80px;
 width:360px;    
 border-radius: 25px;

}

 .tourism-box-img { 
     width: 100%;
    height: 100%;
    /* object-fit: cover; */
} 

.tourism-type {
    font-size: 0.938rem;
    font-weight: 500;
}

.tourism-box .box-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient(8deg,
            hsl(240 17% 14% / 74%) 14%,
            hsl(240 17% 14% / 14%) 44%);
    overflow: hidden;
}

.tourism-title {
    font-size: 1.1rem;
    font-weight: 500;
}

/* tourisms */
.tourisms .heading {
    padding: 10px 14px;
}

.tourisms-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
    gap: 10rem;
}

.tourisms-content .tourism-box:hover .tourism-box-img {
    transform: scale(1.1);
    transition: 0.5s;
}


/* play container================================ */



.tags {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 1rem 0;
}

.tags span {
    background: var(--container-color);
    padding: 0 4px;
}

.play-text {
    padding: 70px;
}

.video-js {
    width: 90%;
    margin: 40px auto;
}

/* /* details==== */
/* screenshots================================== */
.screenshots {
    width: 100%;
    max-width: 800px;
    margin-left: 270px;
}

.screenshots strong {
    color: rgb(96, 202, 206);
    font-family: Monoton;
    font-size: 2rem;
    font-weight: 400;
}

.screen-s-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}


.culture-text {

margin: 50px;
font-size: large;
}


.religious-text {

    margin: 50px;
    font-size: large;
    }

    .leisure-text {

        margin: 50px;
        font-size: large;
        }

        .eco-text {

            margin: 50px;
            font-size: large;
            }



            * {box-sizing:border-box}

            /* Slideshow container */
            .slideshow-container {
              max-width: 1000px;
              position: relative;
              margin: auto;
            
              
              
            }
            
            /* Make the images invisible by default */
             .Containers {
              display: none;
            } 
            
            /* forward & Back buttons */
            .Back, .forward {
              cursor: pointer;
              position: absolute;
              top: 48%;
              width: auto;
              margin-top: -23px;
              padding: 17px;
              color: rgb(0, 200, 249);
              font-weight: bold;
              font-size: 19px;
              transition: 0.4s ease;
              border-radius: 0 5px 5px 0;
              user-select: none;
            }
            
            /* Place the "forward button" to the right */
            .forward {
              right: 0;
              border-radius: 4px 0 0 4px;
            }
            
            /*when the user hovers,add a black background with some little opacity */
            .Back:hover, .forward:hover {
              background-color: rgba(0,0,0,0.8);
            }
            
            /* Caption Info */
            .Info {
              color: #e3e3e3;
              font-size: 16px;
              padding: 10px 14px;
              position: absolute;
              bottom: 10px;
              width: 100%;
              text-align: center;
            }
            
            /* Worknumbering (1/3 etc) */
            .MessageInfo {
              color: #f2f2f3;
              font-size: 14px;
              padding: 10px 14px;
              position: absolute;
              top: 0;
            }
            
            /* The circles or bullets and indicators */
            .dots {
              cursor: pointer;
              height: 12px;
              width: 12px;
              margin: 0 3px;
              background-color: rgb(16, 245, 245);
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.5s ease;
            }
